html, body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

#carouselExampleControls{
    margin-top: 0.5em;
}

.container .heading{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 1rem;
    margin: 4rem 0 0 0;
}

.container .text{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.container{
    padding: 1rem;
    height: 850px;
}

.wrapper{
    min-height: 100%;
}

.card{
    margin: 3rem;
}

.blog-footer{
    text-align: center;
}